dist/background.js
dist/content.js
dist/icon16.png
dist/icon48.png
dist/icon128.png
dist/index.html
dist/manifest.json
dist/ollama-bridge.html
dist/sidepanel.html
dist/sidepanel.js
dist/styles.css
dist/assets/index-BOfDmaU4.css
dist/assets/index-DlEUBIRt.js
dist/lib/huggingface-inference.js
dist/modules/api.js
dist/modules/aws.js
dist/modules/mock.js
dist/modules/state.js
dist/modules/ui.js
dist/modules/utils.js
